<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>jQuery EasyUI</title>
    <link rel="stylesheet" type="text/css"
          href="/statics/themes/bootstrap/easyui.css">
    <script type="text/javascript" src="/statics/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/statics/js/jquery.easyui.min.js"></script>
    <script src="/statics/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<!-- 添加功能按钮 -->
<div id="tb" style="height: auto">
    <a id="ItestAppend" href="javascript:void(0)"
       class="easyui-linkbutton"
       data-options="iconCls:'icon-add',plain:true" onclick="append()">添加</a>
    <a id="ItestRemoveit" href="javascript:void(0)"
       class="easyui-linkbutton"
       data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">移除</a>
    <a id="ItestAccept" href="javascript:void(0)"
       class="easyui-linkbutton"
       data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
</div>
<div>
    <!-- 添加数据列表并设置为可编辑 -->
    <table id="dg" class="easyui-datagrid"
           title="Mock接口地址为http://101.200.219.159:8081/iwaterMock/(api部署地址)"
           style="width: auto; height: auto"
           data-options="
				iconCls: 'icon-edit',
				fitColumns: true,
				singleSelect: true,
				toolbar: '#tb',
				url: '/mockPlatform/apiMock/settingsData',
				method: 'get',
				onClickCell: onClickCell
			"
           pagination="true"></table>
    <script type="text/javascript">
        //csrf认证生明处理
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        //加载数据列表数据
        $('#dg').datagrid({
            url: '/mockPlatform/apiMock/settingsData',
            pagination: true,//分页控件
            fixed: true,
            collapsible: false,//是否可折叠的
            rownumbers: true,
            loadFilter: function (data) {
                console.log(data);
                var ret = data;
                console.log(ret.totalRecord)
                var resData = {
                    rows: ret.results,
                    total: ret.totalRecord
                }
                console.log(resData);
                return resData;
            },
            columns: [[{
                field: 'api_id',
                title: 'api_id',
                width: 100,
                editor: 'textbox',
                hidden: 'true'
            }, {
                field: 'api_name',
                title: 'api_name',
                width: 20,
                editor: 'textbox'
            }, {
                field: 'is_open',
                title: 'is_open',
                width: 20,
                editor: 'textbox'
            }, {
                field: 'api_resp_json',
                title: 'api_resp_json',
                width: 100,
                editor: 'textbox'
            }]]
        });

        var editIndex = undefined;
        //结束编辑的方法
        function endEditing() {
            if (editIndex == undefined) {
                return true
            }
            if ($('#dg').datagrid('validateRow', editIndex)) {
                $('#dg').datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }

        //点中的方法
        function onClickCell(index, field) {
            if (editIndex != index) {
                if (endEditing()) {
                    $('#dg').datagrid('selectRow', index).datagrid(
                            'beginEdit', index);
                    var ed = $('#dg').datagrid('getEditor', {
                        index: index,
                        field: field
                    });
                    if (ed) {
                        ($(ed.target).data('textbox') ? $(ed.target)
                                .textbox('textbox') : $(ed.target)).focus();
                    }
                    editIndex = index;
                } else {
                    $('#dg').datagrid('selectRow', editIndex);
                }
            }
        }

        //添加的方法，但不提交数据
        function append() {
            if (endEditing()) {
                $('#dg').datagrid('insertRow', {
                    index: 0,
                    row: {}
                });
                editIndex = $('#dg').datagrid('getRows').length - 1;
                $('#dg').datagrid('selectRow', editIndex).datagrid(
                        'beginEdit', editIndex);
            }
        }

        //删除的方法，但不提交数据
        function removeit() {
            if (editIndex == undefined) {
                return
            }
            $('#dg').datagrid('cancelEdit', editIndex).datagrid(
                    'deleteRow', editIndex);
            editIndex = undefined;
        }

        //获取json串长度
        function getJsonLength(jsonData) {
            var jsonLength = 0;
            for (var item in jsonData) {
                jsonLength++;
            }
            return jsonLength;
        }

        //提交数据
        function accept() {
            if (endEditing()) {
                //禁用保存按钮，防止重复提交
                $('#ItestAccept').removeAttr("onclick");
                //获取增加、删除、更新的数据，并且赋予标志
                var inserted = $("#dg").datagrid('getChanges', 'inserted');
                var deleted = $("#dg").datagrid('getChanges', 'deleted');
                var updated = $("#dg").datagrid('getChanges', 'updated');
                var effectRow = new Object();
                if (inserted.length) {
                    effectRow["inserted"] = JSON.stringify(inserted);
                }
                if (deleted.length) {
                    effectRow["deleted"] = JSON.stringify(deleted);
                }
                if (updated.length) {
                    effectRow["updated"] = JSON.stringify(updated);
                }
                var count = getJsonLength(effectRow)
                if (count != 0) {
                    //和后台交互进行数据提交
                    $.ajax({
                        type: 'POST',
                        url: '/mockPlatform/apiMock/apiSet',
                        data: {'effectRow': JSON.stringify(effectRow)},
                        success: function () {
                            alert("保存成功！")
                            //提交成功并重新释放提交按钮
                            editIndex = undefined;
                            $('#ItestAccept').attr("onclick", "accept();");
                            $('#dg').datagrid("reload");
                        },
                        error: function () {
                            alert("保存失败！");
                        }
                    });
                }
                else {
                    alert("数据无变更");
                }


            }
        }
    </script>
</div>
</body>
</html>