<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="cache-control" content="no-cache">
    <title>DreamStar Tool</title>
    <!-- 初始化easyui -->
    <link rel="stylesheet" type="text/css"
          href="/statics/themes/bootstrap/easyui.css">
    <script src="/statics/js/jquery-1.11.3.min.js"></script>
    <script src="/statics/js/jquery.easyui.min.js"></script>
    <script src="/statics/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css"
          href="/statics/css/iwaterMock.css">
</head>
<body class="easyui-layout">
<div data-options="region:'north',border:false"
     style="height: 70px; background: #0D75E0; padding: 10px; background-color: rgb(29, 93, 141); overflow: hidden;">
    <div>
        <img alt="" src="/statics/themes/logo.jpeg" style="">
        <a href="javascript:void(0)" style="font-size:12px;color:white;float: right;" onclick="logout()">注销</a>
    </div>
</div>
<!-- 增加功能菜单树 -->
<div data-options="region:'west',split:true,title:'功能菜单'"
     style="width: 250px; padding: 0px; margin: 0px;">
    <ul id="treegrid" class="easyui-tree">
    </ul>
</div>

{#<!-- 增加tab面板 -->#}
{#<div id="easytab" class="easyui-tabs" style="width: 500px;"#}
{#     data-options="region:'center'">#}
{#    <!-- help tab页 -->#}
{#    <div title="help" style="padding: 20px;">#}
{#        <span>测试接口1</span><a href="http://www.baidu.com">http://www.baidu.com</a>#}
{#    </div>#}
{#</div>#}

<!-- 增加面板 -->
<div id="p" class="easyui-panel" data-options="region:'center'" style="">
    <img alt="" src="/statics/themes/background.jpg" style="width:100%;height:100%;text-align:center;overflow-y:hidden">
</div>

<script type="text/javascript">
    //csrf认证生明处理
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('#p').css("background","white")
    $(document).ready(function () {
        var eTab = null;
        //加载功能菜单树菜单
        $('#treegrid').tree({
            url: "/mockPlatform/menu.json"
        });

        $('#treegrid').tree({
            onClick: function (node) {
                //判断是否是子节点。如果不是子节点则认为是父节点，并不进行任何操作
                if ($('#treegrid').tree('isLeaf', node.target)) {
                    {#                    var tiles = new Array();#}
                    {#                    var tabs = $('#easytab').tabs('tabs');#}
                    {#                    var len = tabs.length;#}
                    {#                    if (len > 0) {#}
                    {#                        for (var j = 0; j < len; j++) {#}
                    {#                            var a = tabs[j].panel('options').title;#}
                    {#                            tiles.push(a);#}
                    {#                        }#}
                    {#                        for (var i = 0; i < tiles.length; i++) {#}
                    {#                            $('#easytab').tabs('close', tiles[i]);#}
                    {#                        }#}
                    {#                        $('#easytab').tabs('add', {#}
                    {#                            title: node.text,#}
                    {#                            href: node.attributes.url,#}
                    {#                            closable: false#}
                    {#                        });#}
                    $('#p').panel({
                        width: 500,
                        height: 150,
                        href: node.attributes.url

                    });
                }
            }
        });
    });
    function logout() {
        $.ajax({
            type: 'POST',
            url: '/mockPlatform/logout',
            data: {},
            success: function (data) {
                console.log(data.status);
                if (data.status == 1) {
                    window.location.href = "/"
                }
            },
            error: function () {
                alert("注销失败！");
            }

        });

    }
</script>
</body>
</html>
