<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache">
    <title>爱水mock平台</title>
    <!-- 初始化easyui -->
    <link rel="stylesheet" type="text/css"
          href="/statics/themes/bootstrap/easyui.css">
    <script src="/statics/js/jquery-1.11.3.min.js"></script>
    <script src="/statics/js/jquery.easyui.min.js"></script>
    <script src="/statics/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css"
          href="/statics/css/iwaterMock.css">
    <form id="form1" runat="server">
        <div>
            <script type="text/javascript">
                $(function () {
                    $("#loginWindow").window({
                        title: '登录窗口',
                        width: 290,
                        height: 180,
                        modal: true,
                        shadow: false,
                        closable: false,
                        maximizable: false,
                        minimizable: false,
                        collapsible: false,
                        resizable: false
                    });

                    $("#btnLogin").click(function () {
                        var username = document.getElementById("username").value;
                        var password = document.getElementById("password").value;

                        loginSys(username, password);
                    });

                    $("#aboutSys").click(function () {
                        $.messager.alert('关于', '爱水科技MOCK平台', 'info');
                    });
                });

                //登陆操作
                function loginSys(username, password) {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        //cache:true,
                        url: "mockPlatform/loginCheck",
                        data: {username: username, password: password},
                        success: function (json) {
                            if (json.status == 1) {
                                window.location.href = "mockPlatform/index";
                            }
                            else {
                                $.messager.alert('错误', '账号或密码错误!', 'error');
                            }
                        },
                        error: function () {
                            $.messager.alert('错误', '获取账号信息失败...请联系管理员!', 'error');
                        }
                    });
                }
            </script>
        </div>
        </form>
        </head>
<body>
<div id="loginWindow" class="easyui-window" title="登录窗口" iconCls="icon-login"
     style="width:300px;height:180px;padding:5px;background: #fafafa;">
    <div border="false" style=" padding-left:30px; background:#fff;border:1px solid #ccc;">
        <form>
            <table>
                <tr>
                    <td>账号：</td>
                    <td><input id="username" style="width: 150px;"/></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password" id="password" style="width: 150px;"/></td>
                </tr>
            </table>
        </form>
    </div>
    <div border="false" style="text-align:center;height:30px;line-height:30px; margin-top:6px;">
        <a class="easyui-linkbutton" href="javascript:void(0)" id="aboutSys" style="width: 70px;">关于</a>
        <a class="easyui-linkbutton" href="javascript:void(0)" id="btnLogin" style="width: 70px">登录</a>
    </div>
</div>

</div>
</form>
</body>
</html>