<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="cache-control" content="no-cache">
    <title>logs</title>
    <!-- 初始化easyui -->
    <link rel="stylesheet" type="text/css"
          href="/statics/themes/bootstrap/easyui.css">
    <script src="/statics/js/jquery-1.11.3.min.js"></script>
    <script src="/statics/js/jquery.easyui.min.js"></script>
    <script src="/statics/locale/easyui-lang-zh_CN.js"></script>
</head>
<body style="padding-top:100px;background: #000">
<div style="position: fixed ;top:70px;left:251px;width: 100%;background: #e2e2e2;">
    <a href="#" class="easyui-linkbutton" onclick="startPrint()" style="margin-left: 5px;margin-top: 0px">startPrint</a>
    <a href="#" class="easyui-linkbutton" onclick="stopPrint()" style="margin-top: 0px">stopPrint</a>
</div>
<article id='log-container' style="margin-top:40px;background: #000">
    <p id='log' style="margin-left: 5px;background: #000;color: #090"></p>
</article>
<script type="text/javascript">
    //csrf认证生明处理
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $('#p').css("background","#000")
    try{
        window.clearInterval(t);
    }
    catch(e){

    }

    $('#log').empty();
    function startPrint() {
        $.ajax({
            url: "/mockPlatform/tool/logsLine",
            type: "POST",
            success: function (data) {
                line = data.line;
                $(function () {
                    $('#log').empty();
                    $.ajax({
                        url: "/mockPlatform/tool/logsHandle?line=" + line,
                        type: 'GET',
                        success: function (data) {

                            if (data != 500) {
                                $('#log').append('<p>' + data + '</p>');
                                t = setInterval(function () {
                                    line++
                                    var url = "tool/logsHandle?line=" + line
                                    $.ajax({
                                        url: url,
                                        type: 'GET',
                                        success: function (data) {
                                            if (data != 500) {
                                                $('#log').append('<p>' + data + '</p>');
                                                window.scrollTo(0, document.body.scrollHeight);
                                                $('#p').scrollTop($('#log-container').height());
                                            } else {
                                                clearInterval(t);
                                            }
                                        },
                                        error: function (data) {
                                            myalert();
                                            return false;
                                        }
                                    });
                                }, 500);
                            }
                        },
                        error: function (data) {
                            return false;
                        }
                    });
                });

            },
            error: function () {
                return false;

            }
        });
    }
    function stopPrint() {
        window.clearInterval(t);
        //$('#log').next().nextAll().remove();
    }
        function myalert() {
            alert("服务器提出了一个问题，请找张羽锋寻求答案！")
        }
</script>
</body>
</html>